
<div class="c-side-pane t-toolbar">
    <span style="color:#fff; margin-left:15px">Treemap Options</span>
</div>
<div class="c-config-content">Show Label:
    <input type="checkbox" ng-model="config.ShowLabel">
</div>
<div class="c-config-content">Show Time:
    <input type="checkbox" ng-model="config.ShowTime">
</div>

<div class="c-config-content">Filter to Template:
   <select ng-model="config.TemplateSelected">
        <option ng-repeat="t in runtimeData.obtainTemplates()">{{t}}</option>
   </select>
</div>
<div class="c-config-content">Size attribute:
    <select ng-model="config.AttributeSelected"
            ng-options="attribute.Name for attribute in runtimeData.obtainSizeableAttributes()"></select>
</div>
<div class="c-config-content">Color attribute:
   <select ng-model="config.ColorAttributeSelected"
           ng-options="attribute.Name for attribute in runtimeData.obtainAttributes()"></select>
</div>


<div class="c-side-pane t-toolbar">
    <span style="color:#fff; margin-left:15px">About</span>
</div>

<div style="width: 85%; margin-top: 10px; margin-left:15px;">
    <p style="margin-top: 10px">
        Treemap symbol for visualizing Event Frames.  By default the size of the displayed checkbox
        is proportional to the Event Frame duration.  The color of the box indicates the Event Frame 
        template.  The view can be scoped to a single template, then the size and color of the box
        can be based on attributes.
    </p>
    <p style="margin-top: 10px">
        Hovering over a box will show summary data about the Event Frame.  Clicking on a box will
        attribute values in the table.  Total time off all displayed Event Frames is shown below
        the Treemap.
    </p>
    <p style="margin-top: 10px">
        This symbol was created by Exele, a PI partner specializing in PI products, services,
        and PI based environmental monitoring.
    </p>
    <p style="margin-top: 10px">
        <a href="www.exele.com">www.exele.com</a>
    </p>
</div>
