<div class="c-side-pane t-toolbar">
    <span style="color:#fff; margin-left:15px">Text Color</span>
</div>
<div class="config-option-format">
    <pv-color-picker id="textcolor" ng-model="config.TextColor"></pv-color-picker>
</div>
<div class="c-side-pane t-toolbar">
    <span style="color:#fff; margin-left:15px">Background Color</span>
</div>
<div class="config-option-format">
    <pv-color-picker id="backgroundcolor" ng-model="config.BackgroundColor"></pv-color-picker>
</div>
<div class="c-side-pane t-toolbar">
    <span style="color:#fff; margin-left:15px">Show Options</span>
</div>
<div class="c-config-content">Show Label:
    <input type="checkbox" ng-model="config.ShowLabel">
</div>
<div class="c-config-content">Show Time:
    <input type="checkbox" ng-model="config.ShowTime">
</div>

<div class="c-config-content">Select EF Template:
   <select ng-model="config.TemplateSelected">
        <option ng-repeat="t in runtimeData.obtainTemplates()">{{t}}</option>
   </select>
</div>
<div class="c-config-content">Size by selected EF Attribute:
   <select ng-model="config.AttributeSelected">
        <option ng-repeat="a in runtimeData.obtainSizeableAttributes()" data-type="{{a.type}}">{{a.name}}</option>
   </select>
</div>
<div class="c-config-content">Color by selected EF Attribute:
   <select ng-model="config.ColorAttributeSelected">
        <option ng-repeat="a in runtimeData.obtainAttributes()" data-type="{{a.type}}">{{a.name}}</option>
   </select>
</div>
