
.exele-treemap-symbol {
    width: 100%;
    height: 100%;
}

.exele-treemap {
    width: calc(100% - 550px);
    height: 100%;
    float: left;
    text-align: left;
}

.exele-attr-table {
    width: 550px;
    padding: 10px;
    float: right;
}
