.exele-treemap-symbol,
.exele-treemap {
    width: 100%;
    height: 100%;
}

.exele-treemap {
    text-align: left;
}

.exele-attribute-table {
    padding: 10px;
    font: 10px sans-serif;
    display:inline;
}
