
.exele-treemap-symbol {
    width: 100%;
    height: 100%;
}

.exele-treemap {
    width: calc(100% - 15.5em);
    height: 100%;
    text-align: left;
    float: left;
}

.exele-treemap tspan {
    font-size: 0.75em;
}

.exele-attr-panel {
    width: 15em;
    float: right;
}

.no-events {
    background-color: #BED2ED;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exele-attr-table {
    width: 100%;
    table-layout: fixed;
}

.exele-time-table {
    margin-bottom: 1em;
}

.exele-total-time-value td {
    width: 100%;
}

.exele-table-value {
    text-align: right;
}

.box-table-a {
    width: 100%;
    font-size: 12px;
    text-align: left;
    border-collapse: collapse;
}

    .box-table-a th {
        width: 50%;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        padding: 8px;
        background: #4C92C3;
        border-bottom: 1px solid #fff;
        color: #F5FAFC;
    }

    .box-table-a td {
        width: 50%;
        padding: 8px;
        background: #BED2ED;
        border-bottom: 1px solid #fff;
        color: #183649;
        border-top: 1px solid transparent;
    }

    .box-table-a tr:hover td {
        background: #4D95C4;
    }
